<ul class="list-inline">
  <li><a href="http://www.linkedin.com/in/wcyjoyce" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  <li><a href="http://www.twitter.com/jcywonghk" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="http://www.github.com/wcyjoyce" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
  <li><a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
</ul>

