// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$orange: #E67E22;
$yellow: #FDB631;
$green: #32B796;

$blue: #469AE0;
$dark-blue: #3D6F99;
$teal: #008080;

$light-gray: #F4F4F4;
$test: #D6D1CD;
$dark-gray: #999999;
$gray: #000000;
