// Specific CSS for your home-page

.cover {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65%;
  position: sticky;
  top: 0;
  z-index: -1;
}

.cover-text {
  height: calc(100vh - 45px);
  width: 45vw;
  padding: 40px;
  display: flex;
  align-items: center;
  color: white;

  h1 {
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 25px 0px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0px;
  }
}

.mobile-text {
  height: calc(100vh - 60px);
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 10px;

  h1 {
    font-size: 40px;
    font-weight: bolder;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0px;
  }
}
