.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
  background: $test;
}

.about-text {
  width: 100%;

  h2 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0px;
  }

  p {
    font-size: 15px;
    margin: 0px;
    line-height: 1.4;
  }

  a {
    font-family: "Lato", "sans-serif";
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray;

    &:hover {
      opacity: 0.5;
      transition: all 0.5s ease;
    }
  }
}

.fa-file-text-o {
  padding: 17.5px 10px 25px 0px;
  font-size: 16px;
}

.padding {
  height: 80px;
}
