.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 25px;

  h2 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0px;
  }

  p {
    font-size: 16px;
    text-align: center;
    color: $dark-gray;
  }
}

.contact-text {
  display: flex;
  justify-content: space-around;

  .half {
    width: 50vw;
    padding: 0px 30px;

    table {
      display: flex;
      justify-content: center;
      margin: 20px;

      tr {
        height: 30px;
        width: 30px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      td {
        padding-bottom: 7.5px;
      }

      .fa {
        padding: 7px 8px;
        text-align: center;
        background: $dark-gray;
        color: white;
        border: 1px solid $dark-gray;
        border-radius: 50%;

        &:hover {
          background: $gray;
          transition: all 0.3s ease;
        }
      }

      .detail {
        font-family: "Lato", "sans-serif";
        font-size: 12.5px;
        letter-spacing: 1px;
        padding-left: 12.5px;
      }

      a {
        text-decoration: none;
        color: $dark-gray;

        &:hover {
          text-decoration: none;
          color: $gray;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
