.display {
  padding: 25px;

  h1 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0px;
  }
}

.colour {
  background: $test;
}

.message {
  border-radius: 3px;
  padding: 10px;
  margin: 2.5px 0px;
}

.message-header {
  display: flex;
  justify-content: flex-start;
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;

  .header-divider {
    margin: 0px 5px;
  }
}

.message-body {
  font-size: 14px;
  line-height: 1.25;
}
