<div class="about-text">
  <h2>ABOUT ME</h2>
  <p>This is a short description about me.</p>
  <i class="fa fa-file-text-o" aria-hidden="true"></i>

  <div class="milestones hidden-xs hidden-sm">

    <div class="timeline">
      <div class="line"></div>
      <div class="achievement bottom">
        <div class="date">1 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
      </div>

      <div class="achievement top">
        <div class="date">2 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
      </div>

      <div class="achievement bottom">
        <div class="date">3 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
      </div>

      <div class="achievement top">
        <div class="date">4 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
      </div>
    </div>
  </div>
</div>
