<div class="about-text">
  <h2>ABOUT ME</h2>
  <p class="hidden">This is a short description about me.</p>

  <%= link_to "resume.pdf", target: "_blank" do %>
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  <% end %>

  <!-- Desktop Display -->
  <div class="milestones hidden-xs hidden-sm">

    <div class="timeline">
      <div class="line"></div>

      <!-- KGV -->
      <div class="milestone top">
        <div class="milestone-date">Jul 2011</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EDUCATION</h3>
          <div class="milestone-organisation">
            <h4>King George V School</h4>
            <h5>Hong Kong</h5>
          </div>
          <h6>August 2004 - July 2011</h6>
          <div class="milestone-detail">
            <h6>Diploma</h6>
            <p>International Baccalaureate (with Bilingual Diploma in English and Chinese)</p>
          </div>
          <div class="milestone-detail">
            <h6>Grade</h6>
            <p>40/45 (top 3.5% worldwide) - equivalent to 611 UCAS points</p>
          </div>
        </div>
      </div>

      <!-- Goldman Sachs -->
      <div class="milestone bottom">
        <div class="milestone-date">Aug 2013</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EXPERIENCE</h3>
          <div class="milestone-organisation">
            <h4>Goldman Sachs</h4>
            <h5>London, United Kingdom</h5>
          </div>
          <h6>June 2013 - August 2013</h6>
          <div class="milestone-detail">
            <h6>Summer Analyst</h6>
            <p>Three-month rotational programme in Stock Loan and Inventory Management within Securities Operations</p>
          </div>
        </div>
      </div>

      <!-- LSE: BSc -->
      <div class="milestone top">
        <div class="milestone-date">Jul 2014</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EDUCATION</h3>
          <div class="milestone-organisation">
            <h4>London School of Economics (LSE)</h4>
            <h5>London, United Kingdom</h5>
          </div>
          <h6>September 2011 - July 2014</h6>
          <div class="milestone-detail">
            <h6>Degree</h6>
            <p>BSc Managerial Economics and Strategy (Management)</p>
          </div>
          <div class="milestone-detail">
            <h6>Grade</h6>
            <p>Upper Second Class Honours (2:1)</p>
          </div>
        </div>
      </div>

      <!-- LSE: MSc -->
      <div class="milestone bottom">
        <div class="milestone-date">Sep 2015</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EDUCATION</h3>
          <div class="milestone-organisation">
            <h4>London School of Economics (LSE)</h4>
            <h5>London, United Kingdom</h5>
          </div>
          <h6>October 2014 - September 2015</h6>
          <div class="milestone-detail">
            <h6>Degree</h6>
            <p>MSc International Management</p>
          </div>
          <div class="milestone-detail">
            <h6>Dissertation</h6>
            <p>The Effect of CEPA Between China and Hong Kong</p>
          </div>
          <div class="milestone-detail">
            <h6>Exchange</h6>
            <p>MBA Exchange Programme at Chicago Booth</p>
          </div>
        </div>
      </div>

      <!-- J.P. Morgan -->
      <div class="milestone top">
        <div class="milestone-date">Aug 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EXPERIENCE</h3>
          <div class="milestone-organisation">
            <h4>J.P. Morgan</h4>
            <h5>Hong Kong</h5>
          </div>
          <h6>June 2015 - August 2017</h6>
          <div class="milestone-detail">
            <h6>Private Banking Analyst</h6>
            <p>Covered ultra-high net worth clients and family offices in Hong Kong – responsibilities included portfolio construction, asset allocation, and generation of investment opportunities</p>
          </div>
        </div>
      </div>

      <!-- Le Wagon -->
      <div class="milestone bottom">
        <div class="milestone-date">Dec 2017</div>
        <div class="dot"></div>
        <div class="milestone-description">
          <h3 class="milestone-category">EDUCATION</h3>
          <div class="milestone-organisation">
            <h4>Le Wagon</h4>
            <h5>London, United Kingdom</h5>
          </div>
          <h6>October 2017 - December 2017</h6>
          <div class="milestone-detail">
            <h6>Full-Stack Web Developer</h6>
            <p>London Batch #103</p>
          </div>
          <div class="milestone-detail">
            <h6>TECHNICAL STACK</h6>
            <p>Ruby on Rails, HTML, CSS (SASS), JavaScript, SQL, git, GitHub, Heroku</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Display -->
  <div class="mobile-milestones hidden-md hidden-lg">

    <h3 class="mobile-category">EDUCATION</h3>
    <!-- Le Wagon -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>01 / Le Wagon</h4>
        <h5>London, UK</h5>
      </div>
      <div class="mobile-date">October 2017 - December 2017</div>
      <div class="mobile-detail">
        <h6>Full-Stack Web Developer (Batch #103)</h6>
        <p>Technical Stack: Ruby on Rails, HTML, CSS (SASS), JavaScript, SQL, git, GitHub, Heroku</p>
      </div>
    </div>

    <!-- LSE: MSc -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>02 / London School of Economics (LSE)</h4>
        <h5>London, UK</h5>
      </div>
      <div class="mobile-date">October 2014 - September 2015</div>
      <div class="mobile-flex">
        <p class="mobile-label">Degree:</p>
        <p>MSc International Management</p>
      </div>
      <div class="mobile-flex">
        <p class="mobile-label">Dissertation:</p>
        <p>The Effect of CEPA Between China and Hong Kong</p>
      </div>
      <div class="mobile-flex">
        <p class="mobile-label">Exchange:</p>
        <p>MBA Exchange Programme at Chicago Booth</p>
      </div>
    </div>

    <!-- LSE: BSc -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>03 / London School of Economics (LSE)</h4>
        <h5>London, UK</h5>
      </div>
      <div class="mobile-date">September 2011 - July 2014</div>
      <div class="mobile-flex">
        <p class="mobile-label">Degree:</p>
        <p>BSc Managerial Economics and Strategy (Management)</p>
      </div>
      <div class="mobile-flex">
        <p class="mobile-label">Grade:</p>
        <p>Upper Second Class Honours (2:1)</p>
      </div>
    </div>

    <!-- KGV -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>04 / King George V School</h4>
        <h5>Hong Kong</h5>
      </div>
      <div class="mobile-date">August 2004 - July 2011</div>
      <div class="mobile-flex">
        <p class="mobile-label">Diploma:</p>
        <p>International Baccalaureate (with Bilingual Diploma in English and Chinese)</p>
      </div>
      <div class="mobile-flex">
        <p class="mobile-label">Grade:</p>
        <p>40/45 (top 3.5% worldwide) - equivalent to 611 UCAS points</p>
      </div>
    </div>

    <h3 class="mobile-category">EXPERIENCE</h3>
    <!-- J.P. Morgan -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>01 / J.P. Morgan</h4>
        <h5>Hong Kong</h5>
      </div>
      <div class="mobile-date">June 2015 - August 2017</div>
      <div class="mobile-detail">
        <h6>Private Banking Analyst</h6>
        <p>Covered ultra-high net worth clients and family offices in Hong Kong – responsibilities included portfolio construction, asset allocation, and generation of investment opportunities</p>
      </div>
    </div>

    <!-- Goldman Sachs -->
    <div class="mobile-milestone">
      <div class="mobile-organisation">
        <h4>02 / Goldman Sachs</h4>
        <h5>London, UK</h5>
      </div>
      <div class="mobile-date">June 2013 - August 2013</div>
      <div class="mobile-detail">
        <h6>Summer Analyst</h6>
        <p>Three-month rotational programme in Stock Loan and Inventory Management within Securities Operations</p>
      </div>
    </div>
  </div>

</div>
