<h2>01 / GET IN TOUCH</h2>
<p>If you like what you see and want to work with me, or just want to see and learn more of my work, please get in touch!</p>
<table>
  <tr>
    <td><a href="http://www.linkedin.com/in/wcyjoyce"><i class="fa fa-linkedin" aria-hidden="true"></i></a></td>
    <td class="detail"><a href="http://www.linkedin.com/in/wcyjoyce">LINKEDIN.COM / WCYJOYCE</a></td>
  </tr>
  <tr>
    <td><a href="http://www.twitter.com/jcywonghk"><i class="fa fa-twitter" aria-hidden="true"></i></a></td>
    <td class="detail"><a href="http://www.twitter.com/jcywonghk">@JCYWONGHK</a></td>
  </tr>
  <tr>
    <td><a href="http://www.github.com/wcyjoyce"><i class="fa fa-github" aria-hidden="true"></i></a></td>
    <td class="detail"><a href="http://www.github.com/wcyjoyce">GITHUB.COM / WCYJOYCE</a></td>
  </tr>
  <tr>
    <td><a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></td>
    <td class="detail"><a href="mailto:wcyjoyce.hk@gmail.com">WCYJOYCE.HK@GMAIL.COM</a></td>
  </tr>
</table>
