<h2>GET IN TOUCH</h2>
<p>If you like what you see and want to work with me, or just want to see and learn more of my work, please get in touch!</p>

<div class="channels">
  <div class="channel">
    <a href="http://www.linkedin.com/in/wcyjoyce" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <div class="detail hidden-xs hidden-sm"><a href="http://www.linkedin.co/in/wcyjoyce" target="_blank">LINKEDIN.COM / WCYJOYCE</a></div>
  </div>
  <div class="channel">
    <a href="http://www.twitter.com/jcywonghk" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <div class="detail hidden-xs hidden-sm"><a href="http://www.twitter.com/jcywonghk" target="_blank">@JCYWONGHK</a></div>
  </div>
  <div class="channel">
    <a href="http://www.github.com/wcyjoyce" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <div class="detail hidden-xs hidden-sm"><a href="http://www.github.com/wcyjoyce" target="_blank">GITHUB.COM / WCYJOYCE</a></div>
  </div>
  <div class="channel">
    <a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <div class="detail hidden-xs hidden-sm"><a href="mailto:wcyjoyce.hk@gmail.com">WCYJOYCE.HK@GMAIL.COM</a></div>
  </div>
</div>
