<!-- Cover: Desktop -->
<div class="cover hidden-xs" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'cover.jpg' %>)">
  <div class="cover-text hidden-xs">
    <div>
      <h1>Joyce Wong</h1>
      <h2>Freelance Developer • Former JPM Analyst</h2>
      <h2>Le Wagon Alumnus • LSE Graduate</h2>
    </div>
  </div>
  <div class="footer hidden-xs">
    <%= render "components/footer" %>
  </div>
</div>
<!-- Cover: Mobile -->
<div class="cover hidden-sm hidden-md hidden-lg" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url(<%= image_path 'mobile.jpg' %>)">
  <div class="mobile-text hidden-sm hidden-md hidden-lg">
    <div>
      <h1>Joyce Wong</h1>
      <h2>Freelance Developer</h2>
      <h2>JPM • Le Wagon • LSE</h2>
    </div>
  </div>
  <div class="mobile footer hidden-sm hidden-md hidden-lg">
    <%= render "components/footer" %>
  </div>
</div>
