<div class="portfolio-text">
  <h2>PORTFOLIO</h2>
  <!-- Projects: Post Le Wagon -->
  <div class="cards">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="http://www.alovesoshir.com" target="_blank">
          <div class="thumbnail" style="background-image: url(<%= image_path 'alovesoshir.jpg' %>"></div>
          <div class="project-description">
            <h4>SHIRLEY & ALAN</h4>
            <h5>TIMEFRAME: 1 WEEK</h5>
            <p>A wedding website written in Rails - first side project undertaken after Le Wagon</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="http://www.shared.run" target="_blank">
          <div class="thumbnail" style="background-image: url(<%= image_path 'sharedrun.jpg' %>"></div>
          <div class="project-description">
            <h4>SHARED.RUN</h4>
            <h5>TIMEFRAME: 2 WEEKS</h5>
            <p>A social running  website written in Rails, created in a group of four as part of our final project at Le Wagon</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="http://camper-rentals.herokuapp.com" target="_blank">
          <div class="thumbnail" style="background-image: url(<%= image_path 'camperrentals.jpg' %>"></div>
          <div class="project-description">
            <h4>CAMPER RENTALS</h4>
            <h5>TIMEFRAME: 1 WEEK</h5>
            <p>An AirBnB clone for camper van rental services written in Rails without any frameworks or testing libraries, created in a group of four</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden">
      <div class="card">
        <a href="#" target="_blank">
          <div class="thumbnail"></div>
          <div class="project-description">
            <h4>WAGON RACE</h4>
            <h5>TIMEFRAME: 1 DAY</h5>
            <p>An implementation of a racing game written in JavaScript with usage of AJAX requests, tested using RSpec</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
