<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'cover.jpg' %>)">
  <!-- Desktop -->
  <div class="cover-text hidden-xs">
    <div>
      <h1>Joyce Wong</h1>
      <h2>Former JPM Analyst • </h2>
      <h2>Le Wagon Alumni • LSE Graduate</h2>
    </div>
  </div>
  <div class="footer hidden-xs">
    <%= render "components/footer" %>
  </div>
  <!-- Mobile -->
  <div class="mobile-text hidden-sm hidden-md hidden-lg">
    <div>
      <h1>Joyce Wong</h1>
      <h2>Former JPM Analyst • </h2>
      <h2>Le Wagon Alumni • LSE Graduate</h2>
    </div>
  </div>
  <div class="mobile footer hidden-sm hidden-md hidden-lg">
    <%= render "components/footer" %>
  </div>
</div>
