.footer {
  height: 45px;
  padding: 10px 40px;
  display: flex;
  align-items: flex-end;
  background: transparent;

  li {
    padding-right: 35px;
    font-size: 18px;

    &:last-child {
      padding-right: 5px;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        opacity: 0.5;
        transition: all 0.5s ease;
      }
    }
  }
}

.mobile {
  justify-content: center;

  li {
    font-size: 14px;
  }
}
